.home {
  margin-top: 2rem;
}

.section {
  height: 80vh;
  scroll-snap-align: start;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.section p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.4rem ;
}