
.mario-marquee-path {
  margin-top: -1rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 4rem;
}

.mario-running {
  position: absolute;
  left: 0;
  display: block;
  top: 0;
  transition: all 10s;
  animation: mario-ani 10s infinite;
}

.mario-running img {
  height: 4rem;
  width: auto;
}

@keyframes mario-ani {
  0% {
    left: 0;
  }
  49% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50% {
    left: 90%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  99% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  100% {
    left: 0;
  }
}
