* {
  font-family: "Space Mono", monospace;
}

body {
  margin: 0;
  background: rgb(150, 191, 209);
  background: linear-gradient(
      90deg,
      rgba(150, 191, 209, 1) 0%,
      rgba(206, 187, 213, 1) 35%,
      rgba(194, 214, 201, 1) 64%,
      rgba(180, 195, 214, 1) 100%
    )
    no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  width: 80%;
  margin: auto;
}

:focus {
  outline: none;
}

:root {
  --color-one: #bcf5db;
  --color-two: #569f56;
  --color-three: #fad2e7;
  --color-four: #e6aacf;
}
