.tictactoe-big-div {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-top: 2%;
  width: 70%;
}
.tictactoe-small-div {
  height: 100px;
  width: 30%;
  background-color: lightblue;
}

.tictactoe-h1 {
  margin: 2rem auto;
  text-align: center;
}

.green {
  background: green;
}

.red {
  background-color: red;
}
